*{
    background-color: rgb(208, 213, 186);
}
button{
padding: 12px 20px;
background-color: hsl(283, 48%, 64%);
color: aliceblue;
border: 2px solid rgb(156, 89, 89);
outline: none;
border-radius: 15px;
text-transform: uppercase;
cursor: pointer;
}

div{
width: 100%;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}