@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}

.container{
background-color: rgb(236, 236, 236);
height: 100vh;
width: 100%;
}



.container .navbar{
    
display: flex;
height:12vh;
align-items: center;
justify-content: space-between;
width: 70%;
margin: auto;

}

.navbar .navlist ul{
    display: flex;
    list-style-type: none;
    gap: 30px;
    
}
.navlist a{
    text-decoration: none;
    font-size: 1.1rem;
    color: gray;
}

.hero{

display: flex;
height: 88vh;
align-items: center;
width: 90%;
margin:auto;
}


.hero .content{
    flex: 1;
    margin-top: 8rem;
}

.hero .cards{
    display: flex;
    gap: 4rem;
    align-items: center;
   
    flex: 2;
}


.cards .card{

width: 100%;
height: 30rem;
background-position: center;
background-size: cover;
position: relative;

}



.content h1{
color: rgb(19, 19, 37);
font-size: 3.3rem;
line-height:4.3rem;
text-transform: capitalize;
}

.content p{
    color: rgb(16, 31, 35);
    font-size: 1.1rem;
    max-width: 85%;
   margin: 1.8rem 0rem; 
}

.content button{
background-color: rgb(28, 28, 50);
color: aliceblue;
font-size: 1.3rem;
padding: 1rem;
border: none;
transition: .5s ease-in-out;
}
.content button:hover{
background-color: rgb(153, 82, 34);
cursor: pointer;
}

.card:nth-child(1){
margin-top:6rem ; 
background-image: url(img/Dining\ Room.jpg);

}

.card:nth-child(2){
     background-image:url(img/Blue\ Couch.jpg) ;
    }

.card:nth-child(3){
    margin-bottom:6rem ; 
    background-image: url(img/Living\ Room.jpg);
    }
.container img{

    height: 18rem;
    position: absolute;
    top: 0;
    left: 60px;
}

.card::before{

    content: attr(card_num) ;
    position: absolute;
    right: 0;
    top:-40px ;
    color: brown;
    font-weight: bolder;
    font-size: 1.3rem;
}